.user-container {
    max-width: 320px;
    background-color: #98697f;
    padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    margin: 20px;
    min-width: 320px;
    color: #fff;
}

.user-avatar {
    border-radius: 100px;
}